<% if user_signed_in? %>

<div class="table-responsive">
  <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th colspan="2"></th>
      </tr>
    </thead> 

    <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to "Edit", edit_friend_path(friend), class: "btn btn-dark"  %></td>
          <td><%= button_to "Remove", friend, method: :delete, class: "btn btn-danger"  %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<br/><br/>

<%= link_to "New friend", new_friend_path, class:"btn btn-primary" %>


<%else%>

<h1>Hello World</h1>

This is my first home page

<%end%>